<div id="page1" class="page-content">
  <div class="page-head">
    <div class="page-title">
      <h1><span class="glyphicon glyphicon-shopping-cart"></span>
        检测信息
        <!--<small>dashboard &amp; statistics</small>-->
      </h1>
    </div>
    <div class="page-toolbar">
      <div class="pull-right tooltips" >
        <a href="javascript:;" class="btn btn-info" (click)="goBack()">
          <i class="glyphicon glyphicon-backward"></i> 返回
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <form class="form-inline">
        <div class="form-group">
          <select type="text" class="form-control" name="market" [(ngModel)]="queryDete.marketId">
            <option [value]="null">-市场-</option>
            <option *ngFor="let market of markets" [value]="market.id">{{market.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="stall" [(ngModel)]="queryDete.stallName" placeholder="摊位名称查询">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="stall" [(ngModel)]="queryDete.sampleName" placeholder="样品名称查询">
        </div>
        <button type="submit" class="btn btn-primary" (click)="query()">查询</button>
        <button type="submit" class="btn btn-primary" (click)="reset()">重置</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ngx-datatable
        #mydatatable
        class="material"
        [headerHeight]="50"
        [footerHeight]="50"
        [limit]="page?.pageSize"
        [columnMode]="'force'"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="page?.totalCount"
        [offset]="page?.pageNo-1"
        [rows]="page?.items"
        (page)='setPage($event)'
        [messages]="{emptyMessage: '暂无订单数据！',totalMessage: '条',selectedMessage: '选中'}"
      >

        <ngx-datatable-column name="市场" prop="market_name"></ngx-datatable-column>
        <ngx-datatable-column name="摊位" prop="stall_name"></ngx-datatable-column>
        <ngx-datatable-column name="样品" prop="sample_name"></ngx-datatable-column>
        <ngx-datatable-column name="检测项目" prop="subject_name"></ngx-datatable-column>
        <ngx-datatable-column name="检测时间" prop="detect_time"></ngx-datatable-column>
        <ngx-datatable-column name="处理方式" prop="deal_method"></ngx-datatable-column>
        <ngx-datatable-column name="检测结果" prop="detect_result"></ngx-datatable-column>
        <ngx-datatable-column name="操作" prop="id">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <button class="btn btn-sm btn-default" (click)="check(value)">查看</button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
