
<div class="page-sidebar-wrapper">
  <div class="page-sidebar">
    <ul class="page-sidebar-menu">
      <li class="nav-item start active open">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="glyphicon glyphicon-home"></i>
          <span class="title">信息管理</span>
          <span class="selected"></span>
          <span class="arrow open"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item start active open">
            <a href="/manage/orders" class="nav-link">
              <i class="glyphicon glyphicon-user"></i>
              <span class="title">订单管理</span>
              <span class="selected"></span>
            </a>
          </li>
          <li class="nav-item start">
            <a href="/manage/markets" class="nav-link">
              <i class="glyphicon glyphicon-user"></i>
              <span class="title">市场管理</span>
              <span class="selected"></span>
            </a>
          </li>
          <li class="nav-item start">
            <a href="/manage/stalls" class="nav-link">
              <i class="glyphicon glyphicon-user"></i>
              <span class="title">摊位管理</span>
              <span class="selected"></span>
            </a>
          </li>
          <li class="nav-item start">
            <a href="/manage/electronicScales" class="nav-link">
              <i class="glyphicon glyphicon-user"></i>
              <span class="title">电子称管理</span>
              <span class="selected"></span>
            </a>
          </li>
          <li class="nav-item start">
            <a href="/manage/operators" class="nav-link">
              <i class="glyphicon glyphicon-user"></i>
              <span class="title">经营者管理</span>
              <span class="selected"></span>
            </a>
          </li>
          <li class="nav-item start">
            <a href="/manage/shops" class="nav-link">
              <i class="glyphicon glyphicon-user"></i>
              <span class="title">商户管理</span>
              <span class="selected"></span>
            </a>
          </li>
          <li class="nav-item start">
            <a href="/manage/contracts" class="nav-link">
              <i class="glyphicon glyphicon-user"></i>
              <span class="title">合同管理</span>
              <span class="selected"></span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item start">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="glyphicon glyphicon-home"></i>
          <span class="title">信息管理</span>
          <span class="selected"></span>
          <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item start">
            <a href="javascript:;" class="nav-link">
              <i class="glyphicon glyphicon-user"></i>
              <span class="title">订单管理</span>
              <span class="selected"></span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

