<div [class.dark]="state === 'dark'">
  <nav>
    <ul class="main-ul">
      <li>
        <h4>Basic</h4>
        <ul>
          <li><a href="#inline-edit" (click)="state='inline-edit'">Inline Editing</a></li>
          <li><a href="#footer" (click)="state='footer'">Footer Template</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <content>
    <!-- Basic -->
    <app-inline-edit-demo *ngIf="state === 'inline-edit'"></app-inline-edit-demo>
    <app-footer-demo *ngIf="state === 'footer'"></app-footer-demo>
  </content>
</div>
