.demo-chart{
  height: 600px;
  margin-bottom: 20px;
}
.cutOff-rule{
  display: block;
  width: 100%;
  height: 5px;
  background-color: #0c91e5;
  margin: 50px 0;
}
.shop-sell{
  text-align: center;
  font-family: bold;
  margin-bottom: 20px;
}
