<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">详情</h4>
</div>
<div class="modal-body">
  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3 control-label">市场名:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="market.name" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">市场代码:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="market.code" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">摊位总数:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="market.stallLimit" />
      </div>
    </div>
    <div class="form-group" *ngIf="!context.add">
      <label class="col-sm-3 control-label">已入驻摊位数:</label>
      <div class="col-sm-9">
        <input type="text" disabled class="form-control" [(ngModel)]="market.stallNum" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">店铺总数:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="market.storeNum" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">已入驻店铺数:</label>
      <div class="col-sm-9">
        <input *ngIf="context.add" type="text" class="form-control" [(ngModel)]="market.enterStoreNum" />
        <input *ngIf="!context.add" type="text" disabled class="form-control" [(ngModel)]="market.enterStoreNum" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">区域:</label>
      <div class="col-sm-9">
        <div class="form-inline">
          <select type="text" class="form-control" name="province" [(ngModel)]="market.provinceCode" (ngModelChange)="selectedProvinceChange()">
            <option [value]="null">-省份-</option>
            <option *ngFor="let province of provinces" [value]="province">{{province}}</option>
          </select>
          <select type="text" class="form-control" name="city" [(ngModel)]="market.cityCode">
            <option [value]="null">-市区-</option>
            <option *ngFor="let city of cities" [value]="city">{{city}}</option>
          </select>
        </div>
      </div>
      <!--<tg-area (proviceChange)="onProvinceChange($event)" (cityChange)="onCityChange($event)"
               [empty]="context.add" [province]="market.provinceCode" [city]="market.cityCode"></tg-area>-->

    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">地址:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="market.addr" />
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="context.add ? save() : update()">保存</button>
  <button type="button" class="btn btn-warning" (click)="cancel()">取消</button>
</div>
