<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">详情</h4>
</div>
<div class="modal-body">
  <div class="form-horizontal">
    <div class="form-group" [ngClass]="{'has-error': !marketForm.marketName}">
      <label class="col-sm-3 control-label">市场名:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="market.name"/>
        <div class="text-error" *ngIf="!marketForm.marketName">市场名称不能为空</div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error': !marketForm.marketCode}">
      <label class="col-sm-3 control-label">市场代码:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="market.code"/>
        <div class="text-error" *ngIf="!marketForm.marketCode">市场代码不能为空</div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error': !marketForm.stallLimit || !marketForm.stallLimitFormat}">
      <label class="col-sm-3 control-label">摊位总数:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="market.stallLimit"/>
        <span class="text-error" *ngIf="!marketForm.stallLimit">摊位总数不能为空</span>
        <span class="text-error" *ngIf="!marketForm.stallLimitFormat">请输入数字</span>
      </div>
    </div>
    <div class="form-group" *ngIf="!context.add">
      <label class="col-sm-3 control-label">已入驻摊位数:</label>
      <div class="col-sm-9">
        <input type="text" disabled class="form-control" [(ngModel)]="market.stallNum"/>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error': !marketForm.storeNum || !marketForm.storeNumFormat}">
      <label class="col-sm-3 control-label">店铺总数:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="market.storeNum"/>
        <span class="text-error" *ngIf="!marketForm.storeNum">店铺总数不能为空</span>
        <span class="text-error" *ngIf="!marketForm.storeNumFormat">请输入数字</span>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error': !marketForm.enterStoreNum || !marketForm.enterStoreNumFormat}">
      <label class="col-sm-3 control-label">已入驻店铺数:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="market.enterStoreNum"/>
        <span class="text-error" *ngIf="!marketForm.enterStoreNum">已入驻店铺数不能为空</span>
        <span class="text-error" *ngIf="!marketForm.enterStoreNumFormat">请输入数字</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">区域:</label>
      <div class="col-sm-9">
        <div class="form-inline">
          <!--<select type="text" class="form-control" name="province" [(ngModel)]="market.provinceCode" (ngModelChange)="selectedProvinceChange()">
            <option [value]="null">-省份-</option>
            <option *ngFor="let province of provinces" [value]="province">{{province}}</option>
          </select>
          <select type="text" class="form-control" name="city" [(ngModel)]="market.cityCode">
            <option [value]="null">-市区-</option>
            <option *ngFor="let city of cities" [value]="city">{{city}}</option>
          </select>-->
          <tg-area-select (proviceChange)="onProvinceChange($event)" (cityChange)="onCityChange($event)"
                          [(ngModel)]="marketArea"></tg-area-select>
          <div class="text-error" *ngIf="!marketForm.provinceCode">省份不能为空</div>
          <div class="text-error" *ngIf="!marketForm.cityCode">城市不能为空</div>
        </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error': !marketForm.addr}">
      <label class="col-sm-3 control-label">地址:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="market.addr"/>
        <div class="text-error" *ngIf="!marketForm.addr">详细地址不能为空</div>

      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="context.add ? save() : update()">保存</button>
  <button type="button" class="btn btn-warning" (click)="cancel()">取消</button>
</div>
