<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">详情</h4>
</div>
<div class="modal-body">
  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3 control-label">商户名:</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" [(ngModel)]="shop.name"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">经营者:</label>
      <div class="col-sm-9">
        <select type="text" class="form-control" [(ngModel)]="shop.operatorId">
          <option *ngFor="let operator of operators" [value]="operator.id">{{operator.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">状态:</label>
      <div class="col-sm-9">
        <tg-dict-select dictName="SHOP_STATUS" [(ngModel)]="shop.status"></tg-dict-select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">功能区域:</label>
      <div class="col-sm-9">
        <tg-dict-select dictName="FUNC_TYPE" [(ngModel)]="shop.funcType"></tg-dict-select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">摊位:</label>
      <div class="col-sm-9">
        <select type="text" class="form-control" [(ngModel)]="shop.stallId">
          <option *ngFor="let stall of stalls" [value]="stall.id">{{stall.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">市场:</label>
      <div class="col-sm-9">
        <select type="text" class="form-control" [(ngModel)]="shop.marketId">
          <option *ngFor="let market of markets" [value]="market.id">{{market.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <re-tabs>
        <re-tab id="tab1" title="电子秤">
          <ng-template reTabContent>
            <div class="same-line">
              <input type="text" class="form-control" [minLength]="0" placeholder="请选择需要的电子秤序列号。"
                     [(ngModel)]="shop.electronicScaleId" reAutoComplete [dataSource]="electronicScale"
                     #autoComplete1="autoComplete"/>
              <button class="btn sbold green line-btn" (click)="allotment(autoComplete1.value)">分配</button>
            </div>
            <table id="table2">
              <tr>
                <th>序列号</th>
                <th>版本</th>
                <th>操作</th>
              </tr>
              <tr *ngFor="let sc of shop_con">
                <td>{{sc.sequenceNo}}</td>
                <td>{{sc.softVersion}}</td>
                <td (click)="delElectronicScale(sc.sequenceNo)">删除</td>
              </tr>
            </table>
          </ng-template>
        </re-tab>
        <re-tab id="tab2" title="合同">
          <ng-template reTabContent>
            <button class="btn sbold green" (click)="addContract(shop.operatorId)">增加合同</button>
            <table id="table">
              <tr>
                <th>签约时间</th>
                <th>到期时间</th>
                <th>合同总金额</th>
                <th>已付金额</th>
                <th>合同状态</th>
              </tr>
              <tr *ngFor="let con of contracts">
                <td *ngIf="con.shop_id == shop.contractId">{{con.sign_time}}</td>
                <td *ngIf="con.shop_id == shop.contractId">{{con.validity_time}}</td>
                <td *ngIf="con.shop_id == shop.contractId">{{con.total_amount}}</td>
                <td *ngIf="con.shop_id == shop.contractId">{{con.paid_amount}}</td>
                <td *ngIf="con.shop_id == shop.contractId">{{con.status}}</td>
              </tr>
            </table>
          </ng-template>
        </re-tab>
      </re-tabs>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="save()">保存</button>
  <button type="button" class="btn btn-warning" (click)="cancel()">取消</button>
</div>
