<div id="page2" class="page-content">
  <div class="page-head">
    <div class="page-title">
      <h1><span class="glyphicon glyphicon-shopping-cart"></span>
        详情
      </h1>
    </div>
    <div class="page-toolbar">
      <div class="pull-right tooltips" >
        <div class="form-inline" style="margin: 0;">
          <div class="form-group" *ngIf="pageComponent.newShop">
            <button type="button" class="btn btn-primary" (click)="addShop()">保存</button>
          </div>
          <div class="form-group" *ngIf="!pageComponent.newShop">
            <button type="button" class="btn btn-info" (click)="editShop()">保存</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-warning" (click)="cancel()">取消</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form class="row">
    <div class="col-xs-6">
      <div class="form-horizontal">
        <!-- 商户名 -->
        <div class="form-group" [ngClass]="{'has-error': !shopForm.shopName}">
          <label for="shopname" class="col-sm-2 control-label">商户名称：</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="shopname" id="shopname" required [(ngModel)]="shop.name" #shopName="ngModel"/>
            <div class="text-error" *ngIf="!shopForm.shopName">商户名称不为空</div>
          </div>
        </div>

        <!-- 经营者 -->
        <div class="form-group" [ngClass]="{'has-error': !shopForm.operatorId}">
          <label class="col-sm-2 control-label">经营者：</label>
          <div class="col-sm-10">
            <div class="input-group">
              <input type="text" class="form-control"  [ngClass]="{'require-field':operatorRequired}"  [minLength]="0"
                     reAutoComplete  [dataSource]="operators" [value]="operatorName"
                     [formatter]="operatorNameFormatter"
                     (selectValueChange)="onOperatorNameChange($event)"
                     #operatorList="autoComplete" #operatorN />

              <div class="input-group-addon" (click)="operatorList.toggle($event)">
                <i class="glyphicon glyphicon-menu-down"></i>
              </div>
              <div class="input-group-addon" (click)="addOperator()">
                <i class="glyphicon glyphicon-plus"></i>
              </div>
            </div>
            <div *ngIf="operatorRequired" [ngClass]="{'require-field':operatorRequired}">请选择或增加经营者！</div>
            <div class="text-error" *ngIf="!shopForm.operatorId">请选择或增加经营者</div>
          </div>
        </div>
        <!-- 功能区域 -->
        <div class="form-group" [ngClass]="{'has-error': !shopForm.funcType}">
          <label class="col-sm-2 control-label">功能区域：</label>
          <div class="col-sm-10">
            <tg-dict-select dictName="FUNC_TYPE" name="func" [(ngModel)]="shop.funcType" (ngModelChange)="onFuncTypeChange($event)"></tg-dict-select>
            <div class="text-error" *ngIf="!shopForm.funcType">请选择功能区</div>
          </div>
        </div>
        <!-- 经营开始时间 -->
        <div class="form-group" *ngIf="!pageComponent.newShop">
          <label class="col-sm-2 control-label">经营开始时间：</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" disabled [value]="shop.beginTime || '无'">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-horizontal">
        <!-- 市场 -->
        <div class="form-group" [ngClass]="{'has-error': !shopForm.marketId}">
          <label class="col-sm-2 control-label">市场：</label>
          <div class="col-sm-10">
            <select type="text" class="form-control" name="market" [(ngModel)]="shop.marketId" (ngModelChange)="onMarketChange($event)">
              <option *ngFor="let item of markets" [value]="item.id">{{item.name}}</option>
            </select>
            <div class="text-error" *ngIf="!shopForm.marketId">请选择市场</div>
          </div>
        </div>
        <!-- 摊位 -->
        <div class="form-group" [ngClass]="{'has-error': !shopForm.stallId}">
          <label class="col-sm-2 control-label">摊位：</label>
          <div class="col-sm-10">
            <div class="input-group" *ngIf="stallChange">
              <ng-template #stallItemTemplate let-item="item" let-$index="$index"
                           let-source="source"
                           let-term="term">
                <span class="list-gap">{{item.name}}</span>
              </ng-template>
              <ng-template #noResultItemTemplate let-term="term">
                <span>没有符合条件的记录</span>
              </ng-template>
              <input type="text" class="form-control" name="language" id="languageFromSource" [minLength]="0"
                     reAutoComplete  [dataSource]="stalls" [value]="stallName"
                     [itemTemplate]="stallItemTemplate" [noResultItemTemplate]="noResultItemTemplate"
                     [formatter]="stallNameFormatter"
                     (selectValueChange)="onStallNameChange($event)"
                     #autoComplete1="autoComplete"/>
              <div class="input-group-addon" (click)="autoComplete1.toggle($event)">
                <i class="glyphicon glyphicon-menu-down"></i>
              </div>
              <div class="input-group-addon btn btn-info"
                   (click)="changeStall();" *ngIf="shopId!=0">保存</div>
              <div class="input-group-addon btn btn-warning"
                   (click)="stallChange=!stallChange" *ngIf="shopId!=0">取消</div>
            </div>
            <div class="input-group" *ngIf="!stallChange">
              <input type="text" class="form-control"  [value]="stallName" disabled/>
              <div class="input-group-addon btn btn-danger"
                   (click)="stallChange=!stallChange">变更</div>
            </div>
            <div class="text-error" *ngIf="!shopForm.stallId">请选择摊位</div>
          </div>
        </div>
        <!-- 状态 -->
        <div class="form-group" [ngClass]="{'has-error': !shopForm.status}">
          <label class="col-sm-2 control-label">状态：</label>
          <div class="col-sm-10">
            <tg-dict-select dictName="SHOP_STATUS" name="state" [(ngModel)]="shop.status" (ngModelChange)="onStatusChange($event)"></tg-dict-select>
            <div class="text-error" *ngIf="!shopForm.status">请选择状态</div>
          </div>
        </div>
        <!-- 经营结束时间 -->
        <div class="form-group" *ngIf="!pageComponent.newShop">
          <label class="col-sm-2 control-label">经营结束时间：</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" disabled [value]="shop.endTime || '无'">
          </div>
        </div>
      </div>
    </div>
  </form>

  <re-tabs *ngIf="!pageComponent.newShop">
    <re-tab id="tab1" title="电子秤">
      <ng-template reTabContent>
        <div class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input style="width: 300px" type="text" class="form-control" [minLength]="0" placeholder="请输入要分配的电子秤序列号"
                     reAutoComplete [dataSource]="allotableElectronicScales"
                     [formatter]="scaleNameFormatter"
                     (selectValueChange)="onScaleSelected($event)"
                     #scaleSelect="autoComplete"/>
              <div class="input-group-addon" (click)="scaleSelect.toggle($event)">
                <i class="glyphicon glyphicon-menu-down"></i>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary electronic-assign" (click)="allotElectronicScale()">分配</button>
          </div>
        </div>
        <table id="table2" class="table">
          <tr>
            <th>序列号</th>
            <th>软件版本</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
          <tr *ngFor="let sc of allotedElectronicScales">
            <td>{{sc.sequence_no}}</td>
            <td>{{sc.soft_version}}</td>
            <td>{{sc.status|dictConvert:"ELECTRONICSCALE_STATUS"}}</td>
            <td><a href="JavaScript:;" (click)="unbindElectronicScale(sc.id)">解绑</a></td>
          </tr>
        </table>
      </ng-template>
    </re-tab>
    <re-tab id="tab2" title="合同">
      <ng-template reTabContent>
        <div class="form-inline">
          <div class="form-group">
            <button class="btn btn-primary" (click)="addContract(shop.operatorId)">增加合同</button>
          </div>
        </div>
        <table id="table" class="table">
          <tr>
            <th>签约时间</th>
            <th>到期时间</th>
            <th>合同总金额</th>
            <th>合同状态</th>
            <th colspan="2">操作</th>
          </tr>
          <tr *ngFor="let con of contracts">
            <td>{{con.sign_time}}</td>
            <td>{{con.validity_time}}</td>
            <td>{{con.total_amount}}</td>
            <td>{{con.status|dictConvert:"CONTRACT_STATUS"}}</td>
            <td>
              <a href="javascript:;" class="btn btn-xs btn-info" (click)="editContract(con.id)">修改</a>
              <a href="javascript:;" class="btn btn-xs btn-danger" (click)="deleteContract(con.id)">删除</a>
            </td>
          </tr>
        </table>
      </ng-template>
    </re-tab>
  </re-tabs>
</div>
