<div id="page1" class="page-content">
  <div class="page-head">
    <div class="page-title">
      <h1><span class="glyphicon glyphicon-shopping-cart"></span>
        电子秤信息
      </h1>
    </div>
    <div class="page-toolbar">
      <div class="pull-right tooltips" >
        <a href="javascript:;" class="btn btn-danger" (click)="add()">
          <i class="glyphicon glyphicon-plus"></i> 新增
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <div class="search-line">
              <select type="text" class="form-control" name="market" [(ngModel)]="queryElecScale.marketId">
                <option *ngFor="let market of markets" [value]="market.id">{{market.name}}</option>
              </select>
              <input type="text" class="form-control" name="sequence" [(ngModel)]="queryElecScale.no" placeholder="电子秤序列号">
              <tg-dict-select dictName="ELECTRONICSCALE_STATUS" [(ngModel)]="queryElecScale.status" name="status"></tg-dict-select>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="query()">查询</button>
        <button type="submit" class="btn btn-primary" (click)="reset()">重置</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ngx-datatable
        #mydatatable
        class="material"
        [headerHeight]="50"
        [footerHeight]="50"
        [limit]="page?.pageSize"
        [columnMode]="'force'"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="page?.totalCount"
        [offset]="page?.pageNo-1"
        [rows]="page?.items"
        (page)='setPage($event)'
      >
        <ngx-datatable-column name="序列号" prop="sequence_no"></ngx-datatable-column>
        <ngx-datatable-column name="软件版本" prop="soft_version"></ngx-datatable-column>
        <ngx-datatable-column name="最后更新者" prop="last_update_user"></ngx-datatable-column>
        <ngx-datatable-column name="市场" prop="market_name"></ngx-datatable-column>
        <ngx-datatable-column name="商户" prop="shop_name"></ngx-datatable-column>
        <ngx-datatable-column name="状态" prop="status">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value|dictConvert:"ELECTRONICSCALE_STATUS"}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="编辑" prop="id">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="market">
            <button class="btn btn-default" (click)="edit(value);">修改</button>
            <button class="btn btn-default" (click)="delete(value);">删除</button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
