<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-basket font-red"></i>
      <span class="caption-subject bold font-red ">电子秤信息</span>
    </div>
    <div class="actions">
      <a href="javascript:;" class="btn btn-default btn-sm" (click)="add()" has-permission="FUC_ORDER_ADD">
        <i class="fa fa-plus"></i> 新增
      </a>
    </div>
  </div>
  <div class="portlet-body">
    <div class="table-toolbar">
      <div class="form-inline">
        <div class="form-group">
          <label class="sr-only">电子秤：</label>
          <input type="text" class="form-control" [(ngModel)]="qry_name" placeholder="电子秤序列号">
        </div>
        <button type="button" class="btn sbold green" (click)="query()">查询</button>
        <button type="button" class="btn sbold green" (click)="reset()">重置</button>
      </div>
    </div>
    <div class="dataTables_wrapper no-footer">
      <ngx-datatable
        #mydatatable
        class="material"
        [headerHeight]="50"
        [footerHeight]="50"
        [limit]="page?.pageSize"
        [columnMode]="'force'"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="page?.totalCount"
        [offset]="page?.pageNo-1"
        [rows]="page?.items"
        (page)='setPage($event)'
      >
        <ngx-datatable-column name="序列号" prop="sequence_no"></ngx-datatable-column>
        <ngx-datatable-column name="软件版本" prop="soft_version"></ngx-datatable-column>
        <ngx-datatable-column name="最后更新者" prop="last_update_user"></ngx-datatable-column>
        <ngx-datatable-column name="市场" prop="market_id"></ngx-datatable-column>
        <ngx-datatable-column name="商户" prop="shop_id"></ngx-datatable-column>
        <ngx-datatable-column name="编辑" prop="id">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="market">
            <button class="btn btn-default" (click)="edit(value);">修改</button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
