<div id="page1" class="page-content">
  <div class="page-head">
    <div class="page-title">
      <h1><span class="glyphicon glyphicon-shopping-cart"></span>
        市场信息
        <!--<small>dashboard &amp; statistics</small>-->
      </h1>
    </div>
    <div class="page-toolbar">
      <div class="pull-right tooltips" >
        <a href="javascript:;" class="btn btn-danger" (click)="add()" has-permission="FUC_ORDER_ADD">
          <i class="glyphicon glyphicon-plus"></i> 新增
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <div class="search-line">
              <input type="text" class="form-control" name="marketName" [(ngModel)]="qry_name" placeholder="市场名称">
              <input type="text" class="form-control" name="marketCode" [(ngModel)]="qry_code" placeholder="市场代码">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="query()">查询</button>
        <button type="submit" class="btn btn-primary" (click)="reset()">重置</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ngx-datatable
        #mydatatable
        class="material"
        [headerHeight]="50"
        [footerHeight]="50"
        [limit]="page?.pageSize"
        [columnMode]="'force'"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="page?.totalCount"
        [offset]="page?.pageNo-1"
        [rows]="page?.items"
        (page)='setPage($event)'
      >
        <ngx-datatable-column name="地址" prop="addr"></ngx-datatable-column>
        <ngx-datatable-column name="市场名" prop="name"></ngx-datatable-column>
        <ngx-datatable-column name="市场代码" prop="code"></ngx-datatable-column>
        <ngx-datatable-column name="市场摊位总数" prop="stall_limit"></ngx-datatable-column>
        <ngx-datatable-column name="已入驻摊位数" prop="stall_num"></ngx-datatable-column>
        <ngx-datatable-column name="编辑" prop="id">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="market">
            <button class="btn btn-default" (click)="edit(value);">修改</button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
