<div id="page1" class="page-content">
  <div class="page-head">
    <div class="page-title">
      <h1><span class="glyphicon glyphicon-shopping-cart"></span>
        市场信息
        <!--<small>dashboard &amp; statistics</small>-->
      </h1>
    </div>
    <div class="page-toolbar">
      <div class="pull-right tooltips" >
        <a href="javascript:;" class="btn btn-danger" (click)="add()" has-permission="FUC_ORDER_ADD">
          <i class="glyphicon glyphicon-plus"></i> 新增
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" name="marketName" [(ngModel)]="queryMarket.name" placeholder="市场名称">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="marketAddress" [(ngModel)]="queryMarket.address" placeholder="市场地址">
        </div>
        <div class="form-group">
            <tg-dict-select dictName="MARKET_STATUS" [emptyText]="'-请选择状态-'" [(ngModel)]="queryMarket.state" name="status"></tg-dict-select>
        </div>
        <button type="submit" class="btn btn-primary" (click)="query()">查询</button>
        <button type="submit" class="btn btn-primary" (click)="reset()">重置</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ngx-datatable
        #mydatatable
        class="material"
        [headerHeight]="50"
        [footerHeight]="50"
        [limit]="page?.pageSize"
        [columnMode]="'force'"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="page?.totalCount"
        [offset]="page?.pageNo-1"
        [rows]="page?.items"
        (page)='setPage($event)'
      >
        <ngx-datatable-column name="市场名称" prop="id">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <a routerLink="/manage/stalls/{{value}}">{{row.name}}</a>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="市场代码" prop="code"></ngx-datatable-column>
        <ngx-datatable-column name="摊位总数/已入驻">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{row.stall_limit}}/{{row.stall_num ? row.stall_num : 0}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="店铺总数/已入驻">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{row.store_num}}/{{row. enter_store_num ?  enter_store_num : 0}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="区域">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            {{row. province_code}} / {{row. city_code}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="地址" prop="addr"></ngx-datatable-column>
        <ngx-datatable-column name="经营状态" prop="status">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value|dictConvert:"MARKET_STATUS"}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="编辑" prop="id">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="market">
            <button class="btn btn-default" (click)="edit(value);">修改</button>
            <button class="btn btn-default" (click)="delete(value);">删除</button>
            <!--<a class="btn btn-default" routerLink="/manage/markets/statistics/{{value}}">统计</a>-->
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
