<div class="form-inline">
  <select type="text" class="form-control" name="province" [(ngModel)]="market.provinceCode" (ngModelChange)="selectedProvinceChange()">
    <option [value]="null">-省份-</option>
    <option *ngFor="let province of provinces" [value]="province">{{province}}</option>
  </select>
  <select type="text" class="form-control" name="city" [(ngModel)]="market.cityCode" (ngModelChange)="selectedCityChange()">
    <option [value]="null">-市区-</option>
    <option *ngFor="let city of cities" [value]="city">{{city}}</option>
  </select>
</div>
