<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">详情</h4>
</div>
<div class="modal-body">
  <div class="form-horizontal">
    <div class="form-group" [ngClass]="{'has-error': !roleForm.name}">
      <label class="col-sm-2 control-label">角色名称:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="role.name"/>
        <div class="text-error" *ngIf="!roleForm.name">角色名称不为空</div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error': !roleForm.code}">
      <label class="col-sm-2 control-label">角色编码:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="role.code"/>
        <div class="text-error" *ngIf="!roleForm.code">角色编码不为空</div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">资源分配:</label>
      <div class="col-sm-10">
        <re-tree-view #resourceTreeView [checkable]="true" [treeData]="resourceTreeData" textField="name" valueFeild="id" [allowMutipleSelected]="true" iconField="icon" leafIcon></re-tree-view>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="save()">保存</button>
  <button type="button" class="btn btn-warning" (click)="cancel()">取消</button>
</div>
