<div id="page1" class="page-content">
  <div class="page-head">
    <div class="page-title">
      <h1><span class="glyphicon glyphicon-shopping-cart"></span>
        摊位历史信息
      </h1>
    </div>
    <div class="page-toolbar">
      <div class="pull-right tooltips" >
        <a href="javascript:;" class="btn btn-info" (click)="goBack()">
          <i class="glyphicon glyphicon-backward"></i> 返回
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ngx-datatable
        #mydatatable
        class="material"
        [headerHeight]="50"
        [footerHeight]="50"
        [limit]="page?.pageSize"
        [columnMode]="'force'"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="page?.totalCount"
        [offset]="page?.pageNo-1"
        [rows]="page?.items"
        (page)='setPage($event)'
      >
        <ngx-datatable-column name="商户名称" prop="shop_name"></ngx-datatable-column>
        <ngx-datatable-column name="入驻时间" prop="check_in_time"></ngx-datatable-column>
        <ngx-datatable-column name="截止时间" prop="check_out_time"></ngx-datatable-column>
        <ngx-datatable-column name="操作" prop="shop_id">
          <ng-template ngx-datatable-cell-template let-value="value">
            <a class="btn btn-default"  routerLink="/manage/shopForm/{{value}}">查看</a>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
