<div id="page1" class="page-content">
  <div class="page-head">
    <div class="page-title">
      <h1><span class="glyphicon glyphicon-shopping-cart"></span>
        经营者信息
        <!--<small>dashboard &amp; statistics</small>-->
      </h1>
    </div>
    <div class="page-toolbar">
      <div class="pull-right tooltips" >
        <a href="javascript:;" class="btn btn-danger" (click)="add()">
          <i class="glyphicon glyphicon-plus"></i> 新增
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" name="name"  [(ngModel)]="queryOperator.name" placeholder="姓名">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="mobile"  [(ngModel)]="queryOperator.mobile" placeholder="手机号">
        </div>
        <button type="submit" class="btn btn-primary" (click)="query()">查询</button>
        <button type="submit" class="btn btn-primary" (click)= "reset()">重置</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ngx-datatable
        #mydatatable
        class="material"
        [headerHeight]="50"
        [footerHeight]="50"
        [limit]="page?.pageSize"
        [columnMode]="'force'"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="page?.totalCount"
        [offset]="page?.pageNo-1"
        [rows]="page?.items"
        (page)='setPage($event)'
        [messages]="{emptyMessage: '暂无经营者数据！',totalMessage: '条',selectedMessage: '选中'}"
      >
        <ngx-datatable-column name="姓名" prop="name"></ngx-datatable-column>
        <ngx-datatable-column name="昵称" prop="nick_name"></ngx-datatable-column>
        <ngx-datatable-column name="身份证" prop="id_card_no"></ngx-datatable-column>
        <ngx-datatable-column name="手机号" prop="mobile"></ngx-datatable-column>
        <ngx-datatable-column name="座机" prop="tel"></ngx-datatable-column>
        <ngx-datatable-column name="性别" prop="sex">
          <ng-template ngx-datatable-cell-template let-value="value">
            {{value|dictConvert:"SEX"}}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="操作" prop="id">
          <ng-template ngx-datatable-cell-template let-value="value" let-row="row">
            <button class="btn btn-sm btn-default" (click)="edit(value);">修改</button>
            <button class="btn btn-sm btn-default" (click)="delete(value,row.name);">删除</button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>
